#content {
    text-align: center;
    color: black;
}



body {
    background-color: #FBFFFE; 
    font-family: 'Josefin Sans', sans-serif;


}

html {
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 4em;
}

.long--hr {
    width: 400px;
    border-top: 1px solid grey;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 2rem;
    margin-bottom: 3rem;

}

.short--hr {
    width: 150px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}


.small-text {
    font-size: 0.65em;
    font-weight: 800;

}

.up-margin {
    margin-top: 1.5rem;
}


.content {
max-width: 700px;
text-align: center;
color: black;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #999;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #999;
}



.link-text {
    color: black;
    text-align: center;

}

td {
    text-align: center;
}

.center-text{
    text-align: center;
}
.page-heading{
    margin-top: 3%;
    margin-bottom: 3%;
}

ul {
    text-align: left;
}

.button {
    width: 120px;
    height:120px; 
    border-radius:60px; 
    font-size: 14px;
    padding-top: 1%; 
    line-height: 1.33;"
}